<div class="container mt-5">

  <!-- Titre + bouton -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary fw-bold">
      🛠️ Gestion des Machines
    </h2>
    <button class="btn btn-outline-primary" (click)="toggleForm()">
      <i class="bi bi-plus-square"></i>
      {{ showForm ? 'Annuler' : 'Ajouter Machine' }}
    </button>
  </div>

  <!-- ✅ Formulaire affiché si showForm = true -->
  <div *ngIf="showForm" class="mb-4">
    <app-machine-form
      [machine]="selectedMachine"
      (machineAjoute)="onMachineAjoute()">
    </app-machine-form>

  </div>

  <!-- ✅ Tableau affiché si showForm = false -->
  <div *ngIf="!showForm" class="card shadow-sm border-0">
    <div class="card-header bg-light text-dark">
      <h5 class="mb-0">🧾 Liste des Machines</h5>
    </div>
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead class="bg-light border-bottom">
        <tr>
          <th class="text-center">#ID</th>
          <th>Nom</th>
          <th>État</th>
          <th>Dernière Maintenance</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let machine of machines">
          <td class="text-center">{{ machine.id }}</td>
          <td>{{ machine.nom }}</td>
          <td>
            <span class="badge bg-success" *ngIf="machine.etat === 'DISPONIBLE'">{{ machine.etat }}</span>
            <span class="badge bg-secondary" *ngIf="machine.etat !== 'DISPONIBLE'">{{ machine.etat }}</span>
          </td>
          <td>{{ machine.derniereMaintenance | date: 'yyyy-MM-dd' }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-outline-secondary me-2" (click)="editMachine(machine)">
              <i class="bi bi-pencil"></i> Modifier
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteMachine(machine.id)">
              <i class="bi bi-trash"></i> Supprimer
            </button>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
